# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_JAZZHANDS_LEFT
	def_bool $(shields_list_contains,jazzhands_left)

config SHIELD_JAZZHANDS_RIGHT
	def_bool $(shields_list_contains,jazzhands_right)
